In [1]:
import pandas as pd

In [2]:
some_data = {
    "name":["Jared", "Lisa", "Jan", "Peter", "Ben"],
    "sex":['M', 'F', 'F', 'M', 'M'],
    "age":[23,32,45,12,67],
    "salary":[20e3, 40e3, 65e3, 10e3, 100e3]   
} # notice that all of the values must be iterables of the same length

In [3]:
df = pd.DataFrame(some_data)
print(df)# if you are not using Jupyter use print instead

    name sex  age    salary
0  Jared   M   23   20000.0
1   Lisa   F   32   40000.0
2    Jan   F   45   65000.0
3  Peter   M   12   10000.0
4    Ben   M   67  100000.0

In [4]:
# if you are not using Jupyter use print instead of display
print(df[df['sex'] == 'M']) 
print(df[df['salary'] > 30e3])

    name sex  age    salary
0  Jared   M   23   20000.0
3  Peter   M   12   10000.0
4    Ben   M   67  100000.0
   name sex  age    salary
1  Lisa   F   32   40000.0
2   Jan   F   45   65000.0
4   Ben   M   67  100000.0

In [5]:
# keys are column names and values are Series objects
df['age'].mean()

35.8

In [6]:
df.to_csv("some_data.csv")